# -------------------------------------------------------------------
# Configuration & Secrets
# -------------------------------------------------------------------
FileFlow.API/appsettings.json
*.db
FileFlow.API/Storage/
# -------------------------------------------------------------------
# .NET / C# Build Outputs
# -------------------------------------------------------------------
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Log]/

# -------------------------------------------------------------------
# User-specific / Rider / Visual Studio files
# -------------------------------------------------------------------
*.user
*.userosscache
*.sln.docstates
.vs/
